main {
  padding: 1rem 1rem 0 9rem;
}

.menu {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  position: fixed;


  width: 7rem;
  height: 100%;

  background-color: #333333c2;
  border-right: 3px solid orange;
}
  
.menu ol {
  padding: 0;
}

.menu li {
  list-style: none;
  margin: 1rem 0 1rem 0rem;
}
  
.menu input {
  display: "inline-block";
  text-align: center;

  margin: 5px 10px;
  padding: 5px 10px;

  color: #fff;
  background-color: #1c80f3;

  border: none;
  border-radius: 5px;

  cursor: pointer;
  }
  
.menu input:hover {
  color: black;
  background-color: rgb(253, 187, 64);  
}