#oscurecer-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

#formulario-editar {
    position: fixed; 
    top: 30%; 
    left: 50%; 
    
    transform: translate(-30%, -50%); 

    padding:  1rem 2rem;

    background-color: azure;
}

/* Form.css */
form {
    display: flex;
    flex-direction: column;
  }
   
#formulario-editar > p {
    display: flex;
    position: fixed;
    margin: 0;
    left: 92%;
    bottom: 90%;
    cursor: pointer; 
}
#formulario-editar > p:hover {
    background-color: rgba(253, 38, 0, 0.5);  
}

input:hover {
    color: black;
    background-color: rgb(253, 187, 64);  
}

#formulario-editar button, form button {
  display: inline-block;
  margin: 5px 10px;
  padding: 5px 10px; 
  background-color: #1c80f3; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  text-align: center; 
}

#formulario-editar button:hover {
    color: #fff;
    background-color: rgb(253, 187, 64);  
 
    box-shadow: 1px 1px 15px rgb(253, 187, 64);  
}
