section.primera-section > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.primera-section > div > button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  background-color: #1c80f3; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  text-align: center; 
}

section.primera-section > div > button.selected {
  border: 1px solid #0056b3;
  color: black;
  background-color: rgb(253, 187, 64);  
}

section.primera-section > div > button.selected:hover {
  border: 1px solid #0056b3;
  color: black;
  background-color: rgb(253, 187, 64);  
}
  