.fade-in {
    animation: fadeIn 1.2s ease-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.primera-section {
    height: 80px;
}

.filtradodedatos {
    padding-top: 1rem;
    display: flex;
    width: 23rem;
    height: 3rem;
    position: relative;

    right: 0.2rem;
}

section:nth-child(2n) {
    background-color: rgba(240, 248, 255, 0.4);
    border-top-left-radius: 4ºrem;
    border-radius: 0.5rem;

    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

p {
    margin-bottom: 0px;
    margin-top: 10px;
}

select {
    margin: 5px 5px 0px 5px;
    height: 28px;

    border-radius: 5px;

    color: white;
    background-color: #1c80f3;

    cursor: pointer;

    box-shadow: 1px 1px 15px black;}

select:hover {
    color: black;
    background-color: rgb(253, 187, 64);  
  }

input[type="search"]:hover {
    color: black;
    background-color: rgb(253, 187, 64);  
  }

input {
    margin: 5px 5px 0px 5px;
    height: 28px;

    border-radius: 5px;

    background-color: #1c80f3;
    box-shadow: 1px 1px 15px black;

    cursor: pointer;
}

input::placeholder {
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;  
    border: 1px solid #ccc;
    border-radius: 8px;
}

caption{
    padding-bottom: 0.5rem;    
    font-size: 2rem;
}

th, td{
    padding-bottom: 5px;
    padding-top: 5px;
}

th {
    border-bottom: 1px solid #000;
    background-color: rgb(144, 144, 145);

}

thead, tr{
    background-color: rgb(204, 227, 247);
}

tr:nth-child(2n){
    background-color: rgb(155, 185, 211);
}

button {
    transition: transform 0.3s ease; /* Agregar una transición de 0.3 segundos para el efecto de escala */
    border: none;
    background-color: transparent;
    cursor: pointer; 

} 

button:hover {
    border-radius: 50%; 
    background-color: #0ca935; 
    
}

.boton-self:hover {
    background-color: rgba(51, 160, 8, 0.5); 
    border-radius: 50%; 
    transform: scale(1.5); 
}

.boton-edit:hover {
    background-color: rgba(212, 147, 7, 0.5); 
    border-radius: 50%; 
    transform: scale(1.5); 
}

.boton-delete:hover {
    background-color: rgba(221, 11, 11, 0.5); 
    border-radius: 50%; 
    transform: scale(1.5); 
}